
.vs/checkers/DesignTimeBuild/.dtbcache
*.ide-shm
*.ide-wal

checkers\.v12\.suo

checkers/obj/Debug/DesignTimeResolveAssemblyReferences\.cache

checkers/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

.vs/checkers/DesignTimeBuild/.dtbcache
*.ide-shm
*.ide-wal
*.vs/*
\.vs/checkers/v15/

checkers/bin/Debug/checkers\.exe

checkers/bin/Debug/checkers\.pdb

checkers/bin/Debug/checkers1\.exe

checkers/obj/Debug/checkers\.pdb

checkers/obj/Debug/checkers\.exe

checkers/obj/Debug/checkers\.csprojResolveAssemblyReference\.cache

checkers/obj/Debug/checkers\.csproj\.FileListAbsolute\.txt

checkers/obj/Debug/checkers\.csproj\.GenerateResource\.Cache

\.vs/
